{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "./deps/css/style.css" %}"/>
{% endblock css %}

{% block content %}
<div class="hauptcontent">
    <section class="content__products products">
        <div class="products__items">
            {% for product in goods %}
                <div class="products__item">
                    <div class="products__image">
                        {% if product.image  %}
                        <img src="{{product.image.url}}"
                            alt="{{ product.name }}" title="{{ product.description }}">
                        {% else %}
                        <img src="{% static "deps/img/image-not-found.png" %}" alt="{{ product.name }}" title="{{ product.description }}">
                        {% endif %}
                    </div>
                    <div class="products__name">{{ product.name }}
                    <p class="product_id">id: {{ product.display_id }}</p></div>
                    {% if product.discount %}
                    <div class="price-container">
                        <p><s>{{ product.price }}</s> грн</p>
                        <span class="discount">Скидка {{ product.discount }} %</span>
                    </div>
                    <p class="products__price">{{ product.sell_price }} грн</p>
                    {% else %}
                    <p class="products__price">{{ product.price }} грн</p>
                    {% endif %}
                    <a href="" class="products__button">Купить</a>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock content %}