{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "./deps/css/style.css" %}"/>
{% endblock css %}

{% block content %}
<div class="hauptcontent">
    <section class="content__products products">
        <div class="products__items">
            {% for product in goods %}
                <div class="products__item">
                    <div class="products__image">
                        <img src="{% static product.image %}"
                            alt="" title="{{ product.description }}">
                    </div>
                    <div class="products__name">{{ product.name }}</div>
                    <p class="product_id">id: 00001</p>
                    <p class="products__price">{{ product.price }} грн</p>
                    <a href="" class="products__button">Купить</a>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock content %}