{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "./deps/css/style.css" %}"/>
{% endblock css %}

{% block content %}
<div class="hauptcontent">
    <section class="content__products products">
        <div class="products__items">
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-belyh-svechey-bispol-tsilindr-4h6-sm-4-sht-27364-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-belyh-svechey-bispol-tsilindr-4h8-sm-4-sht-27371-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-belyh-svechey-bispol-tsilindr-5h7-9-11-13-sm-4-sht-27377-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-krasnyh-svechey-bispol-tsilindr-4h6-sm-4-sht-27363-1-660x660 (1).jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-krasnyh-svechey-bispol-tsilindr-4h6-sm-4-sht-27363-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-krasnyh-svechey-bispol-tsilindr-4h6-sm-4-sht-27366-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-krasnyh-svechey-bispol-tsilindr-5h7-9-11-13-sm-4-sht-27378-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-krasnyh-svechey-bispol-tsilindr-5h7-9-11-13-sm-4-sht-27382-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-kremovyh-svechey-bispol-tsilindr-5h7-9-11-13-sm-4-sht-27379-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-serebryanyh-svechey-bispol-tsilindr-4h6-sm-4-sht-27367-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-serebryanyh-svechey-bispol-tsilindr-5h7-9-11-13-sm-4-sht-27380-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\komplekt-zhemchuzhnyh-svechey-bispol-tsilindr-4h6-sm-4-sht-27368-1-660x660.jpg" %}"
                        alt="" title="Комплект цилиндрических свечей Bispol">
                </div>
                <div class="products__name">Комплект цилиндрических свечей Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-bispol-tropicheskiy-ostrov-27399-1-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая Bispol тропический остров">
                </div>
                <div class="products__name">Свеча ароматическая Bispol тропический остров</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-christmas-sweetness-28764-1-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая Christmas-Sweetness">
                </div>
                <div class="products__name">Свеча ароматическая Christmas-Sweetness</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-citrus-green-tea-pudding-28775-2-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая Citrus-Green-Tea-Pudding">
                </div>
                <div class="products__name">Свеча ароматическая Citrus-Green-Tea-Pudding</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-cotton-28777-1-660x660.jpg" %}" alt=""
                        title="Свеча ароматическая Cotton">
                </div>
                <div class="products__name">Свеча ароматическая Cotton</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-flowers-hearts-secret-garden-28737-2-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая Flowers-Hearts-Secret-Garden">
                </div>
                <div class="products__name">Свеча ароматическая Flowers-Hearts-Secret-Garden</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-gingerbread-28768-1-660x660.jpg" %}" alt=""
                        title="Свеча ароматическая Gingerbread">
                </div>
                <div class="products__name">Свеча ароматическая Gingerbread</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-home-sweet-home-joyful-moments-28738-3-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая Home-sweet-Home">
                </div>
                <div class="products__name">Свеча ароматическая Home-sweet-Home</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-oriental-wood-cedarwood-wet-moss-28814-2-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая Oriental-wood-cedarwood-wet-moss">
                </div>
                <div class="products__name">Свеча ароматическая Oriental-wood-cedarwood-wet-moss</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-s-dvumya-fitilyami-bispol-just-smile-27400-1-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая с двумя фитилями Bispol just-smile">
                </div>
                <div class="products__name">Свеча ароматическая с двумя фитилями Bispol just-smile</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-s-dvumya-fitilyami-bispol-follow-your-dreams-27401-1-660x660.jpg" %}"
                        alt="" title="Свеча ароматическая с двумя фитилями Bispol follow-your-dreams">
                </div>
                <div class="products__name">Свеча ароматическая с двумя фитилями Bispol follow-your-dreams
                </div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-white-marble-28821-2-660x660.jpg" %}" alt=""
                        title="Свеча ароматическая White-marble">
                </div>
                <div class="products__name">Свеча ароматическая White-marble</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-aromaticheskaya-teddy-bear-28813-2-660x660.jpg" %}" alt=""
                        title="Свеча ароматическая Teddy-bear">
                </div>
                <div class="products__name">Свеча ароматическая Teddy-bear</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-konusnaya-bispol-24-5-sm-belaya-27313-1-660x660 (1).jpg" %}"
                        alt="" title="Свеча конусная Bispol">
                </div>
                <div class="products__name">Свеча конусная Bispol</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-konusnaya-bispol-24-5-sm-belaya-27313-1-660x660.jpg" %}"
                        alt="" title="Свеча конусная Bispol белая">
                </div>
                <div class="products__name">Свеча конусная Bispol белая</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-konusnaya-bispol-24-5-sm-krasnaya-27314-1-660x660.jpg" %}"
                        alt="" title="Свеча конусная Bispol красная">
                </div>
                <div class="products__name">Свеча конусная Bispol красная</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-konusnaya-bispol-24-5-sm-serebryanaya-27317-1-660x660.jpg" %}"
                        alt="" title="Свеча конусная Bispol серебряная">
                </div>
                <div class="products__name">Свеча конусная Bispol серебряная</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-konusnaya-bispol-24-5-sm-zhemchuzhnaya-27315-1-660x660.jpg" %}"
                        alt="" title="Свеча конусная Bispol жемчужная">
                </div>
                <div class="products__name">Свеча конусная Bispol жемчужная</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-konusnaya-bispol-24-5-sm-zolotaya-27316-1-660x660.jpg" %}"
                        alt="" title="Свеча конусная Bispol золотая">
                </div>
                <div class="products__name">Свеча конусная Bispol золотая</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>

            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-tsilindr-bispol-6h15-sm-belaya-27188-1-660x660.jpg" %}" alt=""
                        title="Свеча цилиндрическая Bispol розовая">
                </div>
                <div class="products__name">Свеча цилиндрическая Bispol розовая</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
            <div class="products__item">
                <div class="products__image">
                    <img src="{% static "deps\img\svechi\svecha-tsilindr-bispol-7h15-sm-golubaya-27357-1-660x660 (1).jpg" %}"
                        alt="" title="Свеча цилиндрическая Bispol красная">
                </div>
                <div class="products__name">Свеча цилиндрическая Bispol красная</div>
                <p class="products__price">400 грн</p>
                <a href="" class="products__button">Купить</a>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
