{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "./deps/css/style.css" %}"/>
{% endblock css %}

{% block content %}
<div class="hauptcontent">
	<section class="content__products products">
		<div class="products__items">
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/diffuzor-aromaticheskiy-cedarwood-vanilla-50-ml-27483-1-660x660 (1).jpg"
						alt="" title="Диффузор ароматический Follow your Dreams">
				</div>
				<div class="products__name">Диффузор ароматический Follow your Dreams 80ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/diffuzor-aromaticheskiy-cedarwood-vanilla-50-ml-27483-1-660x660.jpg"
						alt="" title="Диффузор ароматический Black leaf-blackberry 50ml">
				</div>
				<div class="products__name">Диффузор ароматический Black leaf-blackberry 50ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/diffuzor-aromaticheskiy-cut-roses-50-ml-27481-2-660x660.jpg"
						alt="" title="Диффузор ароматический Musk-citrus 50ml">
				</div>
				<div class="products__name">Диффузор ароматический Musk-citrus 50ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/diffuzor-aromaticheskiy-follow-your-dreams-80-ml-27484-1-660x660.jpg"
						alt="" title="Диффузор ароматический Just Smile 80ml">
				</div>
				<div class="products__name">Диффузор ароматический Just Smile 80ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/diffuzor-aromaticheskiy-musk-citrus-50-ml-27482-1-660x660.jpg"
						alt="" title="Диффузор ароматический Cedarwood-Vanilla 50ml">
				</div>
				<div class="products__name">Диффузор ароматический Cedarwood-Vanilla 50ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/komplekt-aromaticheskiy-freesia-100-ml-24660-1-660x660.jpg"
						alt="" title="Комплект ароматический Freesia 100ml">
				</div>
				<div class="products__name">Комплект ароматический Freesia 100ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/komplekt-aromaticheskiy-rain-forest-100-ml-24757-1-660x660.jpg"
						alt="" title="Комплект ароматический Rain-forest 100ml">
				</div>
				<div class="products__name">Комплект ароматический Rain-forest 100ml</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Аромадиффузоры/komplekt-aromaticheskiy-winter-forest-so-svechkoy-serebryanyy-24631-1-660x660.jpg"
						alt="" title="Комплект ароматический Winter-forest со свечкой серебрянный">
				</div>
				<div class="products__name">Комплект ароматический Winter-forest со свечкой серебрянный
				</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
		</div>
	</section>
</div>
{% endblock content %}

			