{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "./deps/css/style.css" %}"/>
{% endblock css %}

{% block content %}
<div class="hauptcontent">
	<section class="content_gallery gallery">
		<div class="gallery_items">
			<div class="gallery_item gallery_item_big"><img src="{% static ".\deps\img\StartSite\1660134880224409-01.jpeg" %}"
					alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\166065551055240.jpg"  %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\1660042676664080-01.jpeg" %}" alt="#"></div>
			<div class="gallery_item"><img
					src="{% static ".\deps\img\StartSite\1660654362719397_edit_509764689874299-01.jpeg" %}" alt="#">
			</div>
			<div class="gallery_item"><img
					src="{% static ".\deps\img\StartSite\IMG_20220215_110239_edit_294596472718589.jpg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20220313_142258.jpg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20220828_165912.jpg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20220423_124732.jpg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20220730_144655.jpg" %}" alt="#"></div>
			<div class="gallery_item gallery_item_big"><img
					src="{% static ".\deps\img\StartSite\IMG_20220329_115621_edit_9337697853782-02.jpeg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20220828_161217.jpg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20220215_105709_edit_47134482498535.jpg" %}"
					alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\IMG_20210821_161323.jpg" %}" alt="#"></div>
			<div class="gallery_item"><img src="{% static ".\deps\img\StartSite\unnamed.jpg" %}" alt="#"></div>
		</div>
	</section>
	<p class="paragraf">Вот уже 9 лет мы дарим частичку своей души жителям нашего города. С большой любовью
		подбираем каждую деталь для интерьеров множества домов.</p>
	<p class="paragraf">Наша миссия – делать жизнь красивей и уютней с помощью домашнего декора и посуды.
	</p>
	<p class="paragraf">Именно дом для каждого из нас является тем местом, где нам спокойно, где мы ощущаем
		себя в безопасности. Местом, где нам всегда хочется отдохнуть и расслабиться. Как важно окружать
		себя вещами, которые действительно нравятся, которые создают неповторимую атмосферу и всегда
		подымают настроение. </p>
	<p class="paragraf">Приятно начинать свое утро с горячего кофе в любимой чашке, любоваться свежим
		букетом цветов в оригинальной вазе и зажигать вечером свечи, наполняя пространство невероятными
		ароматами.</p>
	<p class="paragraf">В ассортименте нашего магазина вы найдете множество прекрасных элементов декора,
		которые помогут вашему дому заиграть новыми красками и будут долго приносить радость.</p>
	<p class="paragraf">А если вам нравится создавать что-то прекрасное своими руками – мы можем предложить
		вам большой выбор материалов для разных видов творчества. У нас есть все необходимое для:</p>
	<ul class="list">
		<li>- флористики</li>
		<li>- фелтинга (валяния)</li>
		<li>- скрапбукинга</li>
	</ul>
	<p class="paragraf">Еще одно направление нашей работы – гелиевые шары и все для праздника:</p>
	<ul class="list">
		<li>- подарочные коробки и пакеты</li>
		<li>- свечи в торт</li>
		<li>- открытки и денежные конверты</li>
		<li>- упаковка подарков</li>
	</ul>
	<p class="paragraf">Приятных покупок!</p>
</div>
{% endblock content %}
