{% extends "main/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "./deps/css/style.css" %}"/>
{% endblock css %}

{% block content %}
<div class="hauptcontent">
	<section class="content__products products">
		<div class="products__items">
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/591_300.jpg" alt="" title="Ваза стеклянная розовая">
				</div>
				<div class="products__name">Ваза стеклянная розовая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/591_313.jpg" alt="" title="Ваза стеклянная зеленая">
				</div>
				<div class="products__name">Ваза стеклянная зеленая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/591_313_1.jpg" alt="" title="Ваза стеклянная зеленая">
				</div>
				<div class="products__name">Ваза стеклянная зеленая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/733_372.jpg" alt="" title="Ваза керамическая розовая">
				</div>
				<div class="products__name">Ваза керамическая розовая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/733_373.jpg" alt="" title="Ваза керамическая серебряная">
				</div>
				<div class="products__name">Ваза керамическая серебряная</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-keramicheskaya-belaya-20-sm-32071-1-660x660.jpg" alt=""
						title="Ваза керамическая белая">
				</div>
				<div class="products__name">Ваза керамическая белая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-keramicheskaya-bezhevaya-24-sm-32328-1-660x660.jpg" alt=""
						title="Ваза керамическая бежевая">
				</div>
				<div class="products__name">Ваза керамическая бежевая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-keramicheskaya-rozovaya-16-sm-32325-2-660x660.jpg" alt=""
						title="Ваза керамическая розовая">
				</div>
				<div class="products__name">Ваза керамическая розовая</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-steklyannaya-kvadrat-6-sm-2951-1-660x660.jpg" alt=""
						title="Ваза стеклянная квадрат">
				</div>
				<div class="products__name">Ваза стеклянная квадрат</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-steklyannaya-serenite-h-19-sm-35220-1-660x660.jpg" alt=""
						title="Ваза стеклянная Serenite">
				</div>
				<div class="products__name">Ваза стеклянная Serenite</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-steklyannaya-serenite-h-19-sm-35222-1-660x660.jpg" alt=""
						title="Ваза стеклянная Serenite">
				</div>
				<div class="products__name">Ваза стеклянная Serenite</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Вазы/vaza-steklyannaya-serenite-h-19-sm-35222-2-660x660.jpg" alt=""
						title="Ваза стеклянная Serenite">
				</div>
				<div class="products__name">Ваза стеклянная Serenite</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Кашпо для цветов/gorshok-keramicheskiy-k12-003-13-1-660x660.jpg"
						alt="" title="Горшок керамический">
				</div>
				<div class="products__name">Горшок керамический</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Кашпо для цветов/gorshok-keramicheskiy-k12-004-10-1-660x660.jpg"
						alt="" title="Горшок керамический">
				</div>
				<div class="products__name">Горшок керамический</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Кашпо для цветов/gorshok-keramicheskiy-k19-001-21-1-660x660.jpg"
						alt="" title="Горшок керамический">
				</div>
				<div class="products__name">Горшок керамический</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Кашпо для цветов/gorshok-keramicheskiy-k19-010-17-1-660x660.jpg"
						alt="" title="Горшок керамический">
				</div>
				<div class="products__name">Горшок керамический</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Кашпо для цветов/gorshok-keramicheskiy-k19-014-12-1-660x660.jpg"
						alt="" title="Горшок керамический к-19">
				</div>
				<div class="products__name">Горшок керамический к-19</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
			<div class="products__item">
				<div class="products__image">
					<img src="/Flex/img/Кашпо для цветов/gorshok-keramicheskiy-kaktusnik-k12-003-08-1-660x660.jpg"
						alt="" title="Горшок керамический катушник">
				</div>
				<div class="products__name">Горшок керамический катушник к-12</div>
				<p class="products__price">400 грн</p>
				<a href="" class="products__button">Купить</a>
			</div>
		</div>
	</section>
</div>

{% endblock content %}

			